body {
  background-color: #ccc;
  position: relative;
  margin-bottom: 60px; /* Margin bottom by footer height */
  padding-top: 60px;
}

.fab {
    font-size: 1.5em;
    padding: 10px;
    float: right;
    margin-right: 10px;
}

.footer {
  position: absolute;
  margin-top: 100px;
  padding-left: 20px;
  bottom: 30;
  left: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

a {
  color: #505050;
}

header {
  background-color: #ccc;
  text-align: center;
}

header img {
  width: 30%;
  margin-top: 5%;
  border-radius: 50%;
}

figure img {
  margin: 5%;
}

figcaption {
  margin-left: 20px;
}

header h3 {
  float: left;
  margin: 0 auto;
}

.intro-text {
  margin: 10%;
}